.parent-copy{
    color: #fff;
}
.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 247px;
}
.btn{
    background-color: #D6B268;
    color: #eee;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    width: 86px;
}
.paste-area{
    background-color: #B3E3EE;
    border-radius: 5px;
    padding-left: 1rem;
    padding-bottom: 2px;
}
