.login-form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  body {
    background-color: #2255A4;
    color: #2c3338;
    align-items: center;
    margin: 5px 10px 0px 10px;
  }
  input[type='submit'] {
    cursor: pointer;
  }
  input[type='submit'] {
    background-color: #D6B268;
    color: #eee;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .form-field {
    display: flex;
    margin: 14px;
    margin-left: 0rem;
    padding-bottom: 0.8rem
  }
  .input-field{
    flex: 1;
    max-width: 150px;
  }
  .input-name{
    margin-right: 5px;
  }
  form{
    background-color: #B3E3EE;
    border-radius: 5px;
    min-height: 120px;
    padding-left: 1rem;
  }
  .label-conatiner{
    min-width: 80px;
  }
  .submit-align{
    align-items: end;
  }
  .footer-text{
    display: flex;
    justify-content: center;
    color: white;
    font-size: x-small;
  }
  .footer-align{
    margin-top: 5px;
    display: flex;
    color: white;
  }
  .register{
    margin-right: 30px
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  header{
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
  h3{
    color: #2255A4;
  }
  ::placeholder{
    color: lightgray;
    font-size: smaller;
  }
  h5{
    margin-top: 0.1rem;
    padding-left: 2rem;
    margin-bottom: 0rem;
  }
  .input-height{
    height: 1rem;
  }
  .heading{
    background-color: #B3E3EE;
    border-radius: 5px;
    padding-left: 1rem;
    padding-bottom: 2px;
  }
  h2{
    margin-bottom: 0px ;
    color: #2255A4;
  }
  .player-names-div{
    color: #fff;
    padding-top: 1rem;
  }
