.stat-parent{
    color: white;
    margin-bottom: 2rem;
}
.stats-heading{
    margin-bottom: 3px ;
    padding-left: 1rem ; 
    background-color: #B3E3EE;
    border-radius: 5px;
    padding: 0.5rem 0rem 0.5rem 1rem;
}
h5{
    padding-left: 1rem;
}

